@import 'libs/bootstrap-reboot.min';
@import 'libs/font';


@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;

}

@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/advantages';
@import 'blocks/jobs';
@import 'blocks/agent'