.advantages {
    padding: 58px 0 51px 0;
    background-color: #f3f3f3;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 31px;
    }
    &__item {
        display: flex;
        width: 525px;
        margin-top: 36px;
        &:nth-child(-n+2) {
            margin-top: 0px;
        }

    }
    &__img {
        width: 62px;
        height: 62px;
    }
    &__text {
        margin-left: 20px;
    }
    &__subtitle {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 4px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
    }
}