.insert {
    padding: 58px 0 75px 0;
    background: url(../img/bg/china.jpg) center (center/cover) no-repeat;
    &-managers {
        background: url(../img/bg/managers.jpg) center (center/cover) no-repeat;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__managers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        img {
            margin-top: -10px;
            width: 48px;
            height: 51px;
        }
    }
    &__subtitle {
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
    }
    &__descr {
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        text-align: center;
        margin-top: 22px;
    }
}